<% provide(:title, 'What are we about?') %>

<div class="center">
    <h1>BoggyGoFast! Bringing Speedrunning to Rails Because Yes!</h1>
    <h2>What is Speedrunning?</h2>
    <p>Speedrunning involves playing a videogame as fast as humanly possible while following certain rules and then recording the time.</p>
    <h2>Why use this thing when there's that other thing?</h2>
    <p>Because this thing is made with Rails! :D</p>
    <p>But seriously, use whatever you prefer. We don't judge. (except when we do)</p>
</div>