<div class="center jumbotron">
    <h1>Welcome to Boggy Go Fast!</h1>
    <% if !logged_in? %>
        <h2>New around here? Why not <%= link_to "register?", new_user_path %></h2>
    <% end %>
</div>