<li>
    <%= link_to game.name, game %>
    <% if current_user.admin? %>
        | <%= link_to "delete", game_path(game.id), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
</li>