<li>
    <%= link_to game.name, game %>
    <% begin %>
        <% if current_user.admin? %>
            | <%= link_to "Delete", game_path(game.slug), method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
    <% rescue %> 
        <% nil %>
    <% end %>
</li>