<% provide(:title, 'List of Games') %>
<h1>List of Games</h1>

<%= will_paginate %>

<ul class="index">
    <%= render @games %>
</ul>

<% begin %>
    <% if current_user.admin? %>
        <%= link_to "Create New Game", new_game_path %>
    <% end %>
<% rescue %>
    <% nil %>
<% end %>

<%= will_paginate %>