<% provide(:title, @game.name ) %>
<h1>
    <%= @game.name %>
</h1>
<p>
    <%= @game.info %>
</p>
<p>To view the categories for this game, click <%= link_to "here", runcats_path %></p>
<p>Click <%= link_to "here", new_game_speedrun_path %> to submit a run for this game.</p>