<% provide(:title, @game.name ) %>
<h1>Look at this nifty stub!</h1>
<p>This is where the game info goes!</p>
<p>I belong to <%= @game.name %></p>
<p>Click <%= link_to "here", new_game_speedrun_path %> to submit a run for this game.</p>