<% provide(:title, 'Categories for ' + @game.name) %>
<h1>Categories for 
    <%= @game.name %>
</h1>

<% if @game.runcats.count > 0 %>
    <% @game.runcats.each do |runcat| %>
        <h2><%= runcat.category %></h2>
        <p><%= runcat.rules %></p>
    <% end %>
<% else %>
    <p>No categories to list.</p>
<% end %>