<footer class="footer">
    <small>Boggy Go Fast videogame speed run archive by Aaron Zaborac</small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
        </ul>
    </nav>
</footer>